@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  font-family: sans-serif;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .side-text {
  margin: 7px;
  font-size: 15px;
}

.dndflow .shape-svg {
  stroke: black;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  width: 100%;
  height: 100%;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.nodrag.nopan {
  z-index: 1003;
}

.dndflow .dndnode.parent {
  background-color: rgba(239, 51, 51, 0.41);
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.react-flow__custom-node {
  display: flex;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #1a192b;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.react-flow__text-node {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: #222;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.react-flow__img-node {
  display: flex;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}

/* @media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
} */
