.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  height: auto;
}

.logo {
}

.desktop-menu {
  flex: 3;
}

.menu-button {
  display: none;
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: block;
    margin-right: 16px;
  }

  .mobile-menu {
    margin-top: 16px;
  }

  .menu-item {
    margin-bottom: 8px;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.layout {
  width: 100%;
}
