/* .fit-picture {
  height: 100%;
}

.img-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.person-root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
} */
