.fit-picture {
  height: 100%;
  border-radius: 10px;
  margin-bottom: 3px;
}

.person-root-container-vertical .img-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-root-container-vertical .text-section {
  margin-left: 0px;
}

.person-root-container-horisontal .text-section {
  margin-left: 5px;
}

.person-root-container-horisontal .img-container {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-root-container-horisontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  text-align: left;
  font-family: Arial, sans-serif;
}

.person-root-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
}

.name-title {
  font-size: 14px;
  font-weight: bold;
}
